body {
    font-family: arial;
}

h1 {
    text-align: center;
    color: Lightblue;
}

p {
    color: pink ;
    text-align: justify;
    text-indent: 20px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 10;
}